@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Ballet:opsz@16..72&family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@700&family=Fruktur:ital@1&family=Great+Vibes&family=Holtwood+One+SC&family=Lobster&family=Modak&family=MonteCarlo&family=Oleo+Script&family=Oswald:wght@300;500;700&family=Pinyon+Script&family=Roboto+Slab:wght@300;400;500;700&family=Rubik+Dirt&family=Shrikhand&display=swap');
*{
	margin: 0;
	padding: 0;
}
html{
  margin: 0;
  padding: 0;
  width: 100%;
}
body{
	margin: 0; 
	padding: 0;
	background: url("image/w.webp");
	background-size:cover ;
	
	background-attachment: fixed;
}
.navbar {
	background: rgba(0, 0, 0, .6);
}
.masthead {
  height: 100vh;
  min-height: 550px;
  background-image: url('image/w2.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repea;
}
.Toggle navigation{

  color: white;
}
.heading{
	color: white;
	font-size: 50px;
	font-weight: 800;

}
.heading span{
	color: green;
	font-family: 'Shrikhand', cursive;
}
.u{
	margin-top: 20px;
	font-size: 30px;
	font-weight: 600;
	font-family: 'Great Vibes', cursive;
}
sub{
	font-size: 35px;
	font-weight: 800;
	color: red;

		font-family: 'MonteCarlo', cursive;
}
.lead{
	color: red;
	font-size: 24px;
	font-family: 'MonteCarlo', cursive;
}
#navbarResponsive{
	background: transparent;
}

.btn a{
 padding: 5px 26px;
  border: 1px solid blue;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-top: 700px;
  border-radius: 50px;
}
.btn a:hover{
	background: blue;
	box-shadow: 0 0 10px 2px rgba(0, 0, 128, .9);
	transition: .5s;
	color: #000;

  text-decoration: none;
}
.nav-item{
	color: white !important;
	margin-right: 20px;
}
.nav-link:hover{
	border-bottom: 1px solid red;
	color: red !important;
	transition: 0.1s;
}
















@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


     


       

       @media only screen and (max-width:768px) {

        .container-fluid{
        margin-top: 66px;
        background: black;
       }

         }

       .height{
        height: 100vh;
       }
       .card-body h1,h4,p{
       	color: white;

       }
       .line{
       	color: red;
       	width: 50%;
       }

       .card{

        border: none;
        cursor: pointer;
        box-shadow: 0 0 40px rgba(51, 51, 51, .1)
       }

       .card:hover{

        background-color: #eee;

       }

       .ratings i{

        color: orange;
       }

       .testimonial-list{

        list-style: none;
       }

       .testimonial-list li{

        margin-bottom: 20px;
       }

       .testimonials-margin{

        margin-top: -19px;
       }










       @import url(https://fonts.googleapis.com/css?family=Raleway);
     
       .section-3{
        padding:50px 0 ;
       background: #000;


       }
       .title{
       	color: #1a1a1a;
       text-align: center;
       margin-bottom: 10px
     }.content{
     	position: relative;
     width: 90%;
     max-width: 400px;
     margin: auto;
     overflow: hidden
   }.content .content-overlay{
   	background: rgba(0,0,0,0.7);
   position: absolute;
   height: 99%;
   width: 100%;
   left: 0;top: 0;
   bottom: 0;
   right: 0;
   opacity: 0;
   -webkit-transition: all 0.4s ease-in-out 0s;
   -moz-transition: all 0.4s ease-in-out 0s;
   transition: all 0.4s ease-in-out 0s
 }.content:hover .content-overlay{
 	opacity: 1
}.content-image{
	width: 100%
}img{
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
border-radius: 5px;
margin-top: 100px;
}.content-details{
	position: absolute;
text-align: center;
padding-left: 1em;
padding-right: 1em;
width: 100%;
top: 50%;
left: 50%;
opacity: 0;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
-webkit-transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s}
.content:hover .content-details{
	top: 50%;left: 
	50%;opacity: 1}
	.content-details h3{
		color: #fff;
		font-weight: 500;
		letter-spacing: 0.15em;
		margin-bottom: 0.5em;
		text-transform: uppercase
	}.content-details p{
		color: #fff;
		font-size: 0.8em
	}.fadeIn-bottom{top: 80%}
	.h{
		font-size: 40px;
		font-weight: 650;
		color: white;
		margin: 0px 0 20px 500px;
	}
	.uw{
		color: red;

}










#contact {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
 		font-size: 40px;
		font-weight: 650;
  color: #fff;
  text-transform: uppercase;

}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background: black;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
.alt-send-button i{
	color: white;
	font-size: 20px;
}

#page-content {
  flex: 1 0 auto;
}

/* Other Classes for Page Styling */

.flex-shrink-0  {
  background: ;
  background: #000;
}
p{
  letter-spacing: 1px ;
  margin: 2px;
  word-spacing: 5px;
}
@media(max-width: 768px){
  p{
    font-size: 14px;
    margin: 1px;
    letter-spacing: 0px;
    word-spacing: 2px;
  }
  .sec{
    height: 100vh;
  }
  .img img{
    height: auto;
  }
}


















/* .container{
  width:90%
  margin:10px auto;
} */
.portfolio-menu{
  text-align:center;
}
.portfolio-menu ul li{
  display:inline-block;
  margin:0;
  list-style:none;
  padding:10px 15px;
  cursor:pointer;
  -webkit-transition:all 05s ease;
  -moz-transition:all 05s ease;
  -ms-transition:all 05s ease;
  -o-transition:all 05s ease;
  transition:all .5s ease;
}

.portfolio-item{
  /*width:100%;*/
}
.portfolio-item .item{
  /*width:303px;*/
  float:left;
  margin-bottom:10px;
}
.img-fluid:hover{
  cursor: pointer;
  box-shadow: 0 0 20px 4px rgba(255,0,0,.6);
  transition: .6s;
  transform: translate3d(0px, -10px, 0px);
}






















.form-title{
  margin: -2rem 0 2rem;
}
.btn-round{
  border-radius:3rem;
}
.social-buttons .btn{
  margin: 0 .3rem;
}



